In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("C:\\Users\\Sudharsaa\\Documents\\221501149\\HeyRam\\HeyRam_Task\\data\\new_cleaned_data.csv")
df.head()

,price,area,status,bhk,bathroom,age,location,builder
0,37.49,872,1,2,2.0,1.0,Sembakkam,MP Developers
1,93.54,1346,0,3,2.0,0.0,Selaiyur,DAC Promoters
2,151.00,2225,0,3,2.0,0.0,Mogappair,Casagrand Builder Private Limited
3,49.00,1028,1,2,2.0,3.0,Ambattur,Other
4,42.28,588,0,2,1.0,0.0,Pallavaram,Radiance Realty Developers India Ltd

In [4]:
df.columns

Index(['price', 'area', 'status', 'bhk', 'bathroom', 'age', 'location',
       'builder'],
      dtype='object')

In [5]:
df[['age']].head()

   age
0  1.0
1  0.0
2  0.0
3  3.0
4  0.0

In [6]:
DATASET_YEAR = 2021

df['year'] = DATASET_YEAR - df['age']
df.head()

,price,area,status,bhk,bathroom,age,location,builder,year
0,37.49,872,1,2,2.0,1.0,Sembakkam,MP Developers,2020.0
1,93.54,1346,0,3,2.0,0.0,Selaiyur,DAC Promoters,2021.0
2,151.00,2225,0,3,2.0,0.0,Mogappair,Casagrand Builder Private Limited,2021.0
3,49.00,1028,1,2,2.0,3.0,Ambattur,Other,2018.0
4,42.28,588,0,2,1.0,0.0,Pallavaram,Radiance Realty Developers India Ltd,2021.0

In [7]:
df.drop(columns=['age'], inplace=True)

In [8]:
df.columns

Index(['price', 'area', 'status', 'bhk', 'bathroom', 'location', 'builder',
       'year'],
      dtype='object')

In [9]:
X = df[['year', 'bhk', 'location']]
y = df['price']

In [10]:
pip install catboost

Requirement already satisfied: catboost in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (1.2.8)
Requirement already satisfied: graphviz in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from catboost) (0.21)
Requirement already satisfied: matplotlib in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from catboost) (3.10.8)
Requirement already satisfied: numpy<3.0,>=1.16.0 in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from catboost) (2.4.0)
Requirement already satisfied: pandas>=0.24 in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from catboost) (2.3.3)
Requirement already satisfied: scipy in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from catboost) (1.16.3)
Requirement already satisfied: plotly in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from catboost) (6.5.0)
Requirement already satisfied: six in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from pandas>=0.24->catboost) (2025.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from matplotlib->catboost) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from matplotlib->catboost) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from matplotlib->catboost) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from matplotlib->catboost) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from matplotlib->catboost) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from matplotlib->catboost) (3.3.1)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\sudharsaa\documents\221501149\heyram\venv\lib\site-packages (from plotly->catboost) (2.14.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
X = df[['year', 'bhk', 'location']]
y = df['price']

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

In [13]:
cat_features = ['location']

In [14]:
from catboost import CatBoostRegressor

model = CatBoostRegressor(
    iterations=500,
    learning_rate=0.08,
    depth=10,
    loss_function='RMSE',
    verbose=100
)

model.fit(X_train, y_train, cat_features=cat_features)

0:	learn: 40.4006333	total: 195ms	remaining: 1m 37s
100:	learn: 19.1665784	total: 3.01s	remaining: 11.9s
200:	learn: 17.3589516	total: 6.16s	remaining: 9.16s
300:	learn: 16.4507508	total: 8.7s	remaining: 5.75s
400:	learn: 15.7807842	total: 11.4s	remaining: 2.83s
499:	learn: 15.2313931	total: 14.5s	remaining: 0us

In [15]:
from sklearn.metrics import r2_score, mean_absolute_error

pred = model.predict(X_test)

print("R2 Score:", r2_score(y_test, pred))
print("MAE:", mean_absolute_error(y_test, pred))

R2 Score: 0.8400614045543782
MAE: 11.179805121132885

In [ ]:
import joblib
joblib.dump(model, "catboost_house_model_v1.pkl")

In [ ]:
import joblib
model = joblib.load("C:\\Users\\Sudharsaa\\Documents\\221501149\\HeyRam\\HeyRam_Task\\model\\catboost_model_v1.pkl")

year = int(input("Enter Construction Year: "))
bhk = int(input("Enter BHK: "))
location = input("Enter Location Name: ")

price = model.predict([[year, bhk, location]])

print("Predicted House Price:", round(price[0],2))

Predicted House Price: 45.06

In [22]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import numpy as np

pred = model.predict(X_test)

print("R² Score:", r2_score(y_test, pred))
print("MAE:", mean_absolute_error(y_test, pred))
print("RMSE:", np.sqrt(mean_squared_error(y_test, pred)))

R² Score: 0.8400614045543782
MAE: 11.179805121132885
RMSE: 16.255293510570286

In [23]:
compare = pd.DataFrame({
    'Actual_Price': y_test,
    'Predicted_Price': pred
})
compare.head(10)

      Actual_Price  Predicted_Price
2241         42.00        35.903869
175          74.15        73.992533
1253         49.00        42.642969
1461        162.00       161.615996
2443         87.00       118.906242
1288         39.88        64.957498
581          51.24        48.231250
2296         54.30        46.840980
2462         50.45        55.443792
1071         33.71        33.789611

In [24]:
df['price'].describe()

count    2620.000000
mean       73.089645
std        42.084955
min        12.830000
25%        42.000000
50%        61.735000
75%        90.000000
max       162.000000
Name: price, dtype: float64

In [25]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import numpy as np

y_pred = model.predict(X_test)

r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print("-------- MODEL PERFORMANCE --------")
print("R2 Score       :", round(r2, 4))
print("Mean Abs Error :", round(mae, 2))
print("RMSE           :", round(rmse, 2))
print("-----------------------------------")

accuracy = r2 * 100
print("Model Accuracy :", round(accuracy, 2), "%")

-------- MODEL PERFORMANCE --------
R2 Score       : 0.8401
Mean Abs Error : 11.18
RMSE           : 16.26
-----------------------------------
Model Accuracy : 84.01 %

In [26]:
y_test_class = pd.qcut(y_test, q=3, labels=[0,1,2])
y_pred_class = pd.qcut(y_pred, q=3, labels=[0,1,2])

In [27]:
from sklearn.metrics import precision_score, recall_score, f1_score

print("Precision:", precision_score(y_test_class, y_pred_class, average='weighted'))
print("Recall   :", recall_score(y_test_class, y_pred_class, average='weighted'))
print("F1 Score :", f1_score(y_test_class, y_pred_class, average='weighted'))

Precision: 0.7709923664122137
Recall   : 0.7709923664122137
F1 Score : 0.7709923664122137

In [28]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score
import numpy as np
import pandas as pd


r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print("R2 Accuracy :", round(r2*100,2), "%")
print("MAE         :", round(mae,2))
print("RMSE        :", round(rmse,2))

R2 Accuracy : 84.01 %
MAE         : 11.18
RMSE        : 16.26

try to improve the accuarcy of catboost model

add 'area' feature to improve

In [29]:
X = df[['year','bhk','location','area']]
y = df['price']

In [30]:
cat_features = ['location']

In [31]:
from catboost import CatBoostRegressor

model = CatBoostRegressor(
    iterations=500,
    depth=8,
    learning_rate=0.05,
    loss_function='RMSE',
    verbose=0
)

model.fit(X, y, cat_features=cat_features)

In [32]:
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print("R2 Accuracy :", round(r2*100,2), "%")
print("MAE         :", round(mae,2))
print("RMSE        :", round(rmse,2))

R2 Accuracy : 84.01 %
MAE         : 11.18
RMSE        : 16.26

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from catboost import Pool
import numpy as np

X = df[['year','bhk','location','area']]
y = df['price']


X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)


cat_features = ['location']

model = CatBoostRegressor(
    iterations=500,
    depth=8,
    learning_rate=0.05,
    loss_function='RMSE',
    verbose=0
)

model.fit(X_train, y_train, cat_features=cat_features)


test_pool = Pool(X_test, cat_features=cat_features)
y_pred = model.predict(test_pool)

r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print(f"R2 Accuracy : {round(r2*100,2)} %")
print(f"MAE         : {round(mae,2)}")
print(f"RMSE        : {round(rmse,2)}")

R2 Accuracy : 89.68 %
MAE         : 8.29
RMSE        : 13.05

In [34]:
from catboost import Pool

CAT_FEATURES = ['location']

def predict_future_price(location, bhk, area, future_year):
    user_df = pd.DataFrame({
        'location': [location],
        'bhk': [bhk],
        'area': [area],
        'year': [future_year]
    })
    
    pool = Pool(user_df, cat_features=CAT_FEATURES)
    return round(model.predict(pool)[0], 2)

In [35]:
print(".............FUTURE HOUSE PRICE PREDICTION.............\n")

location = input("Enter Location: ")
bhk = int(input("Enter BHK: "))
area = float(input("Enter Area (sqft): "))
future_year = int(input("Enter Future Year: "))

price = predict_future_price(location, bhk, area, future_year)

print("\nPredicted Future Price:", price, "Lakhs")

.............FUTURE HOUSE PRICE PREDICTION.............


Predicted Future Price: 58.67 Lakhs

In [ ]:
import joblib
joblib.dump(model, "catboost_model_v2.pkl")

In [32]:
accuracy_percent = r2 * 100
print("Model Accuracy (%):", accuracy_percent)

Model Accuracy (%): 89.68445585724457