In [ ]:
import pandas as pd
df = pd.read_csv("raw_kaggle_data.csv")
df.head()

,price,area,status,bhk,bathroom,age,location,builder
0,37.49,872,Ready to move,2,NaN,1.0,Sembakkam,MP Developers
1,93.54,1346,Under Construction,3,2.0,NaN,Selaiyur,DAC Promoters
2,151.00,2225,Under Construction,3,NaN,0.0,Mogappair,Casagrand Builder Private Limited
3,49.00,1028,Ready to move,2,2.0,3.0,Ambattur,Dugar Housing Builders
4,42.28,588,Under Construction,2,1.0,0.0,Pallavaram,Radiance Realty Developers India Ltd

In [3]:
df.isnull().sum()

price          0
area           0
status         0
bhk            0
bathroom    1217
age          891
location       0
builder        0
dtype: int64

In [4]:
df['bathroom'].fillna(df['bathroom'].median(), inplace=True)
df['age'].fillna(df['age'].median(), inplace=True)

df.isnull().sum()

C:\Users\Sudharsaa\AppData\Local\Temp\ipykernel_20320\56952876.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bathroom'].fillna(df['bathroom'].median(), inplace=True)
C:\Users\Sudharsaa\AppData\Local\Temp\ipykernel_20320\56952876.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].median(), inplace=True)

price       0
area        0
status      0
bhk         0
bathroom    0
age         0
location    0
builder     0
dtype: int64

In [5]:
df.head()

,price,area,status,bhk,bathroom,age,location,builder
0,37.49,872,Ready to move,2,2.0,1.0,Sembakkam,MP Developers
1,93.54,1346,Under Construction,3,2.0,0.0,Selaiyur,DAC Promoters
2,151.00,2225,Under Construction,3,2.0,0.0,Mogappair,Casagrand Builder Private Limited
3,49.00,1028,Ready to move,2,2.0,3.0,Ambattur,Dugar Housing Builders
4,42.28,588,Under Construction,2,1.0,0.0,Pallavaram,Radiance Realty Developers India Ltd

In [6]:
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

df['price'] = df['price'].apply(lambda x: upper if x > upper else x)

In [7]:
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

df[(df['price'] < lower) | (df['price'] > upper)].shape

(0, 8)

In [8]:
df['price'].describe()

count    2620.000000
mean       73.089645
std        42.084955
min        12.830000
25%        42.000000
50%        61.735000
75%        90.000000
max       162.000000
Name: price, dtype: float64

In [9]:
df.head()

,price,area,status,bhk,bathroom,age,location,builder
0,37.49,872,Ready to move,2,2.0,1.0,Sembakkam,MP Developers
1,93.54,1346,Under Construction,3,2.0,0.0,Selaiyur,DAC Promoters
2,151.00,2225,Under Construction,3,2.0,0.0,Mogappair,Casagrand Builder Private Limited
3,49.00,1028,Ready to move,2,2.0,3.0,Ambattur,Dugar Housing Builders
4,42.28,588,Under Construction,2,1.0,0.0,Pallavaram,Radiance Realty Developers India Ltd

In [10]:
df['bathroom'].fillna(df['bathroom'].median(), inplace=True)
df['age'].fillna(df['age'].median(), inplace=True)

C:\Users\Sudharsaa\AppData\Local\Temp\ipykernel_20320\3532737171.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bathroom'].fillna(df['bathroom'].median(), inplace=True)
C:\Users\Sudharsaa\AppData\Local\Temp\ipykernel_20320\3532737171.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].median(), inplace=True)

In [11]:
df.isnull().sum().sort_values(ascending=False).head(10)

price       0
area        0
status      0
bhk         0
bathroom    0
age         0
location    0
builder     0
dtype: int64

In [12]:

df.head(10)

,price,area,status,bhk,bathroom,age,location,builder
0,37.49,872,Ready to move,2,2.0,1.0,Sembakkam,MP Developers
1,93.54,1346,Under Construction,3,2.0,0.0,Selaiyur,DAC Promoters
2,151.00,2225,Under Construction,3,2.0,0.0,Mogappair,Casagrand Builder Private Limited
3,49.00,1028,Ready to move,2,2.0,3.0,Ambattur,Dugar Housing Builders
4,42.28,588,Under Construction,2,1.0,0.0,Pallavaram,Radiance Realty Developers India Ltd
5,162.00,2221,Under Construction,3,3.0,0.0,Virugambakkam,Traventure Homes Pvt Ltd
6,38.00,885,Under Construction,3,2.0,0.0,Thirumazhisai,Urbanrise
7,72.99,936,Ready to move,3,2.0,6.0,Moolakadai,Navin Housing Properties P LTD
8,125.00,2275,Ready to move,4,2.0,1.0,Ottiyambakkam,Jones foundation private limited
9,24.56,622,Under Construction,2,2.0,0.0,Perungalathur,Isha Homes

In [13]:
#df.to_csv("new_cleaned_data.csv", index=False)

In [14]:
df['status'] = df['status'].map({
    'Ready to move': 1,
    'Under Construction': 0
})
df.head(10)

,price,area,status,bhk,bathroom,age,location,builder
0,37.49,872,1,2,2.0,1.0,Sembakkam,MP Developers
1,93.54,1346,0,3,2.0,0.0,Selaiyur,DAC Promoters
2,151.00,2225,0,3,2.0,0.0,Mogappair,Casagrand Builder Private Limited
3,49.00,1028,1,2,2.0,3.0,Ambattur,Dugar Housing Builders
4,42.28,588,0,2,1.0,0.0,Pallavaram,Radiance Realty Developers India Ltd
5,162.00,2221,0,3,3.0,0.0,Virugambakkam,Traventure Homes Pvt Ltd
6,38.00,885,0,3,2.0,0.0,Thirumazhisai,Urbanrise
7,72.99,936,1,3,2.0,6.0,Moolakadai,Navin Housing Properties P LTD
8,125.00,2275,1,4,2.0,1.0,Ottiyambakkam,Jones foundation private limited
9,24.56,622,0,2,2.0,0.0,Perungalathur,Isha Homes

In [15]:
#df.to_csv("new_cleaned_data.csv", index=False)

In [16]:
sorted(df['location'].unique())

['Adambakam',
 'Adyar',
 'Agaramthen',
 'Alandur',
 'Alwarpet',
 'Ambattur',
 'Ambattur INDUSTRIAL ESTATE',
 'Aminjikarai',
 'Anakaputhur',
 'Anna Nagar',
 'Anna Nagar East',
 'Arumbakkam',
 'Ashok Nagar',
 'Avadi',
 'Ayanambakkam',
 'Ayanavaram',
 'Ayapakkam',
 'Besant Nagar',
 'CIT Nagar',
 'Chengalpattu',
 'Chetpet',
 'Chitlapakkam',
 'Cholambedu',
 'Chromepet',
 'East Tambaram',
 'Egmore',
 'Elandanur',
 'Gerugambakkam',
 'Gokulapuram',
 'Gopalapuram',
 'Gowrivakkam',
 'Guduvancheri',
 'Guindy',
 'Iyappanthangal',
 'Iyyapa Nagar',
 'Iyyappanthangal',
 'Jafferkhanpet',
 'Jamalia',
 'Jeth Nagar',
 'K K Nagar',
 'Kanathur Reddikuppam',
 'Kandigai',
 'Karapakkam',
 'Kattankulathur',
 'Kattupakkam',
 'Keelkattalai',
 'Kelambakkam',
 'Kil Ayanambakkam',
 'Kilpauk',
 'Kodambakkam',
 'Kodungaiyur West',
 'Kolapakkam',
 'Kolapakkam Vandalur',
 'Kolathur',
 'Korattur',
 'Kotivakkam',
 'Kottivakkam',
 'Kotturpuram',
 'Kovalam',
 'Kovilambakkam',
 'Kovur',
 'Koyambedu',
 'Kumananchavadi',
 'Kumaran Nagar',
 'Kundrathur',
 'Kuthambakkam',
 'Madambakkam',
 'Madhanandapuram',
 'Madhavaram',
 'Madhavaram Milk Colony',
 'Madipakkam',
 'Maduravoyal',
 'Mahabalipuram',
 'Mahindra World City',
 'Mambakkam',
 'Manali',
 'Manapakkam',
 'Mangadu',
 'Mannivakkam',
 'Mannur',
 'Maraimalai Nagar',
 'Medavakkam',
 'Mogappair',
 'Mogappair East',
 'Moolacheri',
 'Moolakadai',
 'Mugalivakkam',
 'Muttukadu',
 'Nallambakkam',
 'Nandambakkam',
 'Nanganallur',
 'Nanmangalam',
 'Navallur',
 'Neelankarai',
 'Nesapakkam',
 'Nungambakkam',
 'Old Pallavaram',
 'Oragadam Industrial Corridor',
 'Oragadam Village Ambattur Talu',
 'Ottiyabakkam',
 'Ottiyambakkam',
 'Padapai',
 'Padappai',
 'Padi',
 'Padur',
 'Pallavaram',
 'Pallikaranai',
 'Pammal',
 'Pattabiram',
 'Pazavanthangal',
 'Peerakankaranai',
 'Perambur',
 'Periyapanicheri',
 'Periyar Nagar',
 'Perumalpattu',
 'Perumbakkam',
 'Perungalathur',
 'Perungudi',
 'Ponniammanmedu',
 'Poonamallee',
 'Porur',
 'Pozhichalur',
 'Pudupakkam',
 'Purasaiwakkam',
 'Purasawalkam',
 'Puzhal',
 'Ragavendra Colony',
 'Raja Annamalai Puram',
 'Rajakilpakkam',
 'Ramapuram',
 'Ramavaram',
 'Rathinamangalam',
 'Red Hills',
 'Royapettah',
 'Saidapet',
 'Saligramam',
 'Selaiyur',
 'Sembakkam',
 'Semmancheri',
 'Sevvapet',
 'Shenoy Nagar',
 'Sholinganallur',
 'Singaperumal Koil',
 'Siruseri',
 'Sithalapakkam',
 'Sriperumbudur',
 'T Nagar',
 'Thaiyur',
 'Thalambur',
 'Thandalam',
 'Tharapakkam',
 'Thirumalpur',
 'Thirumazhisai',
 'Thirumullaivoyal',
 'Thiruporur',
 'Thiruvanmiyur',
 'Thiruverkadu',
 'Thiruvidandhai',
 'Thoraipakkam OMR',
 'Tiruvottiyur',
 'Urapakkam',
 'Vadanemmeli',
 'Vadapalani',
 'Valasaravakkam',
 'Vanagaram',
 'Velachery',
 'Velappanchavadi',
 'Vellakkal',
 'Vengaivasal',
 'Vengambakkam',
 'Veppampatttu',
 'Veppampattu',
 'Villivakkam',
 'Virugambakkam',
 'Washermanpet',
 'West Mambalam',
 'West Tambaram',
 'tambaram west']

In [17]:
sorted(df['builder'].unique())

['24K Realtors',
 'AKS Housing Dedvelopment Pvt Ltd',
 'AKS REALTY SERVICES',
 'ARB HOMES',
 'Advaita Homes',
 'Alliance Group',
 'Amarprakash Developers Pvt Ltd',
 'Appaswamy Real Estate',
 'Asset Tree Homes',
 'BSCPL Infrastructure Ltd',
 'Baashyaam Group',
 'Bala',
 'Balaji',
 'Balamurugan',
 'Balasubramani',
 'Bharathi Construction',
 'BricksBurg',
 'Budget Housing And Properties',
 'Casagrand Builder Private Limited',
 'Chennai Gated Community',
 'DAC Promoters',
 'DJ Properties',
 'Dee Star Properties',
 'Dhivagaran',
 'Dinesh',
 'Doshi Housing',
 'Dugar Housing Builders',
 'EK Realtors',
 'Elite nisha',
 'Evrostos Properties',
 'GJ ESTATES',
 'GTK Foundations',
 'Global Homes',
 'Grandstyle constructions',
 'HM Homes',
 'Hansa Estates',
 'HomeFirst',
 'INTERFACE PROPERTIES',
 'India Builders Limited',
 'Individual Agent',
 'Info Rich',
 'Isha Homes',
 'JA Associates',
 'JD Properties',
 'Jayakanthan',
 'Jones Foundations',
 'Jones foundation private limited',
 'Kamalam Builder Pvt Ltd',
 'Karthick',
 'Karuppaswamy Builders',
 'Kaushik associates',
 'Khurinji Homes',
 'Kkk Landmark',
 'Kochar Homes Pvt Ltd',
 'Krishna Constructions',
 'Lifestyle Housing',
 'Luxclusive Homes',
 'MAXWORTH PROPERTIES',
 'MC Foundation',
 'MEHTA REAL ESTATE CHENNAI LLP',
 'MP Developers',
 'Mayances Construction and Engineering Services',
 'Merlin Group',
 'Mohan',
 'MrPincode',
 'Murali',
 'Nagaraj',
 'Naveen',
 'Navin Housing Properties P LTD',
 'Olympia Group',
 'PS Srijan Developers',
 'Pacifica Companies',
 'Plaza Group',
 'Pon Mariappan',
 'Poojaa Foundation',
 'Prabha Homes',
 'Pragyansh',
 'Prasanna',
 'Prestige Estates Projects Ltd',
 'Prince Foundations Ltd',
 'Prop Mart Technologies',
 'Proparena',
 'Propsource Realty Private Limited',
 'Puravankara Limited',
 'Pushkar Properties Pvt Ltd',
 'R Venkatesan',
 'REALTY INDIA',
 'Radiance Realty Developers',
 'Radiance Realty Developers India Ltd',
 'Ram',
 'Ramaniyam Real Estate Builders',
 'Right Angle Properties',
 'Royal Square',
 'S Suresh Kumar',
 'SP Homes Pvt Ltd',
 'SS PROPERTIES',
 'SS Square Property Developers',
 'Sandhya',
 'Saradeuz Realty Constructions',
 'Sarashwathi Construction',
 'Saravan gk',
 'Selvakumar',
 'Shanmugam Property',
 'Shatapatri Estates Pvt Ltd',
 'Shiva',
 'Shree sakthivel realestate',
 'Shri Raman Developers',
 'South Zone Realty Consulting Pvt Ltd',
 'Sri Hari Developers',
 'Sri Vinayaga Real Estate',
 'Swamaan Developers',
 'Swaminathan',
 'THAMINA HOMES',
 'Tellus Foundation',
 'The Nest Builder',
 'Traventure Homes Pvt Ltd',
 'Urban Tree Infrastructures',
 'Urbando Housing LLP',
 'Urbanrise',
 'VGK Builders Pvt Ltd',
 'VNR Homes',
 'Value reality',
 'Velan Housing Properties',
 'Venkatesh',
 'Vijay Raja Homes Private Limited',
 'Vinay Asrani',
 'Vishal D',
 'Vishnu Foundation Ltd',
 'Yadhav constructions real estates',
 'chris',
 'mohammed',
 'seller',
 'smartassetsindia',
 'vinoth builders',
 'viswaraj']

In [18]:
df['location'].value_counts()

location
Veppampattu            149
Pammal                 139
Medavakkam             111
Sholinganallur          99
Perungudi               88
                      ...
Sriperumbudur            1
Iyyapa Nagar             1
Kolapakkam Vandalur      1
Mannivakkam              1
Kil Ayanambakkam         1
Name: count, Length: 178, dtype: int64

In [19]:
df['builder'].value_counts()

builder
seller                               484
MC Foundation                        232
Appaswamy Real Estate                109
Propsource Realty Private Limited     79
Radiance Realty Developers            62
                                    ...
Yadhav constructions real estates      1
Prop Mart Technologies                 1
Evrostos Properties                    1
Shree sakthivel realestate             1
MAXWORTH PROPERTIES                    1
Name: count, Length: 135, dtype: int64

In [20]:
# For location
location_counts = df['location'].value_counts()
rare_locations = location_counts[location_counts < 10].index
df['location'] = df['location'].apply(lambda x: 'Other' if x in rare_locations else x)

# For builder
builder_counts = df['builder'].value_counts()
rare_builders = builder_counts[builder_counts < 10].index
df['builder'] = df['builder'].apply(lambda x: 'Other' if x in rare_builders else x)

In [21]:
df.to_csv("new_cleaned_data.csv", index=False)

In [22]:
df['location'].nunique(), df['builder'].nunique()

(63, 60)

In [23]:
df.head(10)

,price,area,status,bhk,bathroom,age,location,builder
0,37.49,872,1,2,2.0,1.0,Sembakkam,MP Developers
1,93.54,1346,0,3,2.0,0.0,Selaiyur,DAC Promoters
2,151.00,2225,0,3,2.0,0.0,Mogappair,Casagrand Builder Private Limited
3,49.00,1028,1,2,2.0,3.0,Ambattur,Other
4,42.28,588,0,2,1.0,0.0,Pallavaram,Radiance Realty Developers India Ltd
5,162.00,2221,0,3,3.0,0.0,Other,Other
6,38.00,885,0,3,2.0,0.0,Thirumazhisai,Other
7,72.99,936,1,3,2.0,6.0,Other,Other
8,125.00,2275,1,4,2.0,1.0,Other,Other
9,24.56,622,0,2,2.0,0.0,Perungalathur,Isha Homes

In [24]:
df.columns

Index(['price', 'area', 'status', 'bhk', 'bathroom', 'age', 'location',
       'builder'],
      dtype='object')

In [25]:
DATASET_YEAR = 2021

df['year'] = DATASET_YEAR - df['age']
df.head()

,price,area,status,bhk,bathroom,age,location,builder,year
0,37.49,872,1,2,2.0,1.0,Sembakkam,MP Developers,2020.0
1,93.54,1346,0,3,2.0,0.0,Selaiyur,DAC Promoters,2021.0
2,151.00,2225,0,3,2.0,0.0,Mogappair,Casagrand Builder Private Limited,2021.0
3,49.00,1028,1,2,2.0,3.0,Ambattur,Other,2018.0
4,42.28,588,0,2,1.0,0.0,Pallavaram,Radiance Realty Developers India Ltd,2021.0

In [26]:
df.to_csv("final_new_cleaned_data.csv", index=False)

one_hot encoding tried:

In [1]:
import pandas as pd

df = pd.read_csv("copy_final_data.csv")
df.head()

,price,area,status,bhk,bathroom,age,location,builder,year
0,37.49,872,1,2,2.0,1.0,Sembakkam,MP Developers,2020.0
1,93.54,1346,0,3,2.0,0.0,Selaiyur,DAC Promoters,2021.0
2,151.00,2225,0,3,2.0,0.0,Mogappair,Casagrand Builder Private Limited,2021.0
3,49.00,1028,1,2,2.0,3.0,Ambattur,Other,2018.0
4,42.28,588,0,2,1.0,0.0,Pallavaram,Radiance Realty Developers India Ltd,2021.0

In [2]:
df.select_dtypes(include=['object']).columns

Index(['location', 'builder'], dtype='object')

In [3]:
df_encoded = pd.get_dummies(df, drop_first=True)
df_encoded.head()

,price,area,status,bhk,bathroom,age,year,location_Alwarpet,location_Ambattur,location_Ambattur INDUSTRIAL ESTATE,...,builder_Swamaan Developers,builder_The Nest Builder,builder_Urban Tree Infrastructures,builder_VGK Builders Pvt Ltd,builder_VNR Homes,builder_Velan Housing Properties,builder_Vinay Asrani,builder_seller,builder_smartassetsindia,builder_viswaraj
0,37.49,872,1,2,2.0,1.0,2020.0,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,93.54,1346,0,3,2.0,0.0,2021.0,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,151.00,2225,0,3,2.0,0.0,2021.0,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,49.00,1028,1,2,2.0,3.0,2018.0,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,42.28,588,0,2,1.0,0.0,2021.0,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
df_encoded.to_csv("encoded_housing_data.csv", index=False)